.bg-custom{
	background: #004080!important;
}
.navbar .nav-item .nav-link{
	font-size: 17px;
	color: white;
}

.navbar .nav-item:hover .nav-link{
	background: white;
	color: black;
	border-radius: 10px;
}